# ignore todos os arquivos no diretorio node_modules
node_modules/

# ignore todos os arquivos no diretorio .git (necessário?)
.git/

# ignore todos os arquivos no diretorio public/js/libs
public/js/libs

# ignore todos os arquivos .~ do vim
*.*~

