extends layout

block content
	div#content

block scripts
	//- js/boot é o primeiro script a ser executado pelo Require.js
	script(data-main='js/boot', type='text/javascript', src='/js/libs/require.js')
